
@{
    ViewBag.Title = "Electronics";
}
<!-- electronic section start -->
<div class="fashion_section">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- electronic section end -->
