
@{
    ViewBag.Title = "Fashion";
}
<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Samsung Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung S20 Ultra Plus</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 2,50,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/samsungphone1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung S70</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 55,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/samsunga70last.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung S20 Ultra</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 2,00,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/samsungphone3.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Infinix Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Hot 10</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 20,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/infinixhot10 2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Zero 8</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 35,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/infinix-zero8-2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Note 7</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 27,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/note7infinix.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">MI Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Xiaomi Mi Note 11</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/Xiaomi-Mi-11X.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Redmi Note 8</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 30,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/xiaominote8.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Xiaomi Redmi 8</h4>
                                    <p class="price_text">Price  <span style="color: #262626;">Rs 22,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/redmi8.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- fashion section end -->
