
@{
    ViewBag.Title = "Index";
}
<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung Mobiles Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 24,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 17,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile2.jpeg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">MI Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 21,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/miphone.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 24,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Mobile Phone</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 17,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile2.jpeg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">MI Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 21,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/miphone.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phones</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Samsung Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 24,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Infinix Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Starting From Rs 17,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/mobile2.jpeg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">MI Mobile Phones</h4>
                                    <p class="price_text">Price <span style="color: #262626;">Price Starting From Rs 21,000</span></p>
                                    <div class="tshirt_img"><img src="~/Content/clientsite/images/miphone.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- fashion section end -->
<!-- electronic section start -->
<div class="fashion_section">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptops</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 50,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HP Laptop</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 45,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/laptop1.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mac Book</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 1,00,000</span></p>
                                    <div class="electronic_img"><img src="~/Content/clientsite/images/macbook2.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- electronic section end -->
<!-- jewellery  section start -->
<div class="jewellery_section">
    <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phone Accessories</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">AirBuds</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 750</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/Airbuds.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mobile Phone Charger</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 500</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/charger.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Orignal Handfree</h4>
                                    <p class="price_text">Price Starting From<span style="color: #262626;">Rs 350</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/handfree.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phone Accesories</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Airbuds</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 750</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/Airbuds.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mobile Phone Charger</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 500</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/charger.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Orignal Handfree</h4>
                                    <p class="price_text">Price Starting From<span style="color: #262626;">Rs 350</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/handfree.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Mobile Phone Accesories</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Airbuds</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 750</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/Airbuds.jpg"></div>
                                    <div class="btn_main">
                                     <div class="buy_bt"><a href="#">Buy Now</a></div>
                                     <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mobile Phone Charger</h4>
                                    <p class="price_text">Price Starting From <span style="color: #262626;">Rs 500</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/charger.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Orignal Handfree</h4>
                                    <p class="price_text">Price Starting From<span style="color: #262626;">Rs 350</span></p>
                                    <div class="jewellery_img"><img src="~/Content/clientsite/images/handfree.jpg"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <div class="loader_main">
            <div class="loader"></div>
        </div>
    </div>
</div>
<!-- jewellery  section end -->
